html {
  font-size: 10px;
}
body {
  margin: 0 auto;
}
/*--Fonts files--*/
.opn-reg {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.opn-lgt {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.opn-med {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.opn-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.opn-black {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
/*--Base colors--*/
/* ШАПКА */
#main {
  background-color: #f6f6f6;
}
.main-head-logo img {
  padding-bottom: 21px;
}
.main-head-logo p {
  display: inline-block;
  padding-top: 22px;
  padding-left: 16px;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #353535;
  font-size: 16px;
}
.main-head-logo p span {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #13aee5;
  font-size: 20px;
}
.main-head-info p {
  padding-top: 22px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #353535;
  font-size: 16px;
}
.main-head-contacts {
  margin-left: 0;
}
.main-head-contacts p.tell {
  padding-top: 22px;
  line-height: 0.9;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.main-head-contacts p.tell span {
  color: #13aee5;
}
.main-head-contacts p.tell span.address {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #353535;
}
/* НАВИГАЦИЯ */
#nav {
  background-color: #13aee5;
}
.nav {
  position: relative;
  margin: 0 auto;
}
.nav-menu {
  margin-bottom: 0;
  padding-left: 0;
}
.nav-menu-item {
  list-style: none;
  float: left;
}
.nav-menu-item a {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  padding: 16px 66px;
  border-right: 1px dotted #1a96c2;
}
.nav-menu-item a:first-child {
  border-left: 1px dotted #1a96c2;
}
.nav-menu-item:hover {
  background-color: #119cce;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
#menuCheck {
  display: none;
}
.menuToggle {
  display: none;
}
#main-screen {
  background-image: url(../img/bg-1.jpg);
  background-position: center top;
  background-position: no-repeat;
  background-size: cover;
}
.main-screen-slider-box {
  margin-top: 70px;
  z-index: 9;
  padding-right: 0px;
  padding-left: 0px;
}
.main-screen-slider-box h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 43px;
  color: #ffffff;
  text-transform: uppercase;
}
.main-screen-slider-box-item-line {
  width: 251px;
  height: 3px;
  background-color: #13aee5;
  margin-top: 25px;
  margin-bottom: 25px;
}
.main-screen-slider-box p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #ffffff;
  margin-bottom: 40px;
}
.main-screen-slider-box button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
  background-color: #13aee5;
  border: none;
  border-radius: 5px;
  padding: 18px 45px;
  margin-bottom: 116px;
  text-transform: uppercase;
}
ul.slick-dots {
  margin-left: -56%;
  margin-bottom: 15px;
}
.slick-dots {
  background: transparent;
}
.slick-dots li {
  padding: 0px 17px;
}
.slick-dots li button {
  background-color: #ffffff;
  width: 34px;
  height: 2px;
}
.slick-dots li button:before {
  content: '';
}
.slick-dots li button:active,
.slick-dots li button:focus {
  background-color: #13aee5;
}
/* Products section */
#products {
  background-color: #f6f6f6;
  padding-top: 45px;
}
#products_page {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 50px;
}
.col-md-6.products-row {
  background: #ffffff;
  width: 556px;
  height: 310px;
  margin-bottom: 30px;
  position: relative;
}
.col-md-6.products-row h3 {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 21px;
  padding-top: 110px;
  padding-left: 15px;
}
.col-md-6.products-row img {
  padding-left: 20px;
  padding-bottom: 50px;
}
.col-md-3.products-row {
  background: #ffffff;
  width: 264px;
  height: 310px;
  margin-left: 30px;
  margin-bottom: 30px;
  position: relative;
}
.col-md-3.products-row img {
  padding-top: 34px;
  padding-left: 45px;
}
.col-md-3.products-row h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 21px;
  text-align: center;
  padding-top: 18px;
}
.col-md-4.products-row {
  background: #ffffff;
  width: 360px;
  height: 200px;
  margin-left: 31px;
  margin-bottom: 31px;
  padding-top: 50px;
  padding-left: 25px;
  position: relative;
}
.col-md-4.products-row h3 {
  display: inline-block;
  padding-left: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 21px;
  text-align: center;
}
.col-md-4.products-row img {
  margin: auto;
}
.products-row-signature {
  opacity: 0;
  position: absolute;
  background-color: rgba(19, 174, 229, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.products-row-signature a {
  text-decoration: none;
}
.products-row-signature-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: block;
  color: #ffffff;
  font-size: 13;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 20px 43px;
  background-color: transparent;
}
.products-row-signature:hover {
  opacity: 1;
  cursor: pointer;
}
.col-md-4.products-row:first-child {
  margin-left: 0px;
}
/* Products section (Каталог продукции)*/
p.aline {
  margin: 21px 0px 26px 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
}
p.aline span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #cbcbcb;
}
.products-box [type="checkbox"],
label.toggleMenu,
label.toggleSubmenu {
  display: none;
}
.products-box {
  margin: 0px;
  padding: 0px;
}
.products-box label.toggleMenu {
  display: block;
  background-color: #2e3743;
  padding: 15px 75px 15px 15px;
  border-radius: 4px;
  margin-bottom: 1px;
}
.products-box label.toggleMenu i.fa {
  color: #ffffff;
}
.products-box label.toggleMenu i.fa span {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding-left: 10px;
}
.products-box ul {
  padding-left: 0;
}
.products-box ul li {
  list-style: none;
  background-color: #13aee5;
  margin-bottom: 1px;
  padding: 15px 0px;
}
.products-box ul li a {
  display: inline-block;
  padding-left: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
}
.products-box ul li ul {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
}
.products-box ul li ul li {
  position: relative;
  top: 15px;
}
.products-box ul li ul li a {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
}
.products-box ul.check li.check input.toggleSubmenu:checked ~ ul {
  display: block;
  position: relative;
}
.products-box ul.check li.check label.toggleSubmenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
}
.products-box ul.check li.check input.toggleSubmenu:checked ~ ul.check li {
  background-color: #119cce;
}
.wrapper {
  display: block;
}
.wrapper h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 0;
}
.wrapper .line {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 135px;
  height: 3px;
  background: #13aee5;
}
.box_for_slider {
  width: 360px;
  height: 510px;
  border: 1px solid #e2e2e2;
}
.slider-nav-box {
  margin: 0px 10px;
}
.slider-nav .product-box {
  display: flex;
  align-items: center;
  width: 83px;
  height: 90px;
  border: 1px solid #e2e2e2;
  margin: 12px 2px 12px 0px;
}
.slider-nav .product-box img {
  margin: 0 auto;
  vertical-align: middle;
  width: 50px;
  height: auto;
}
.slider-for .product-box {
  height: 390px;
  text-align: center;
}
.slider-for .product-box .img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95%;
}
.slider-for .product-box p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.slider-for .product-box p i {
  padding-right: 10px;
}
.row_wrapper {
  margin-top: 50px;
  margin-bottom: 80px;
}
.slider-box .box {
  width: 265px;
  height: 300px;
  border: 1px solid #e2e2e2;
}
.slider-box .box h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #13aee5;
  text-align: center;
}
.slider-box .box p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65%;
}
.descript {
  margin-left: 18px;
}
.descript h3 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 21px;
}
.descript p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
}
/* Section about company */
#about_company {
  background-color: #ffffff;
}
#about_company_page {
  padding-top: 0;
}
.company {
  margin-bottom: 50px;
}
.company h3 {
  padding-top: 40px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
}
.company .line {
  width: 182px;
  height: 3px;
  border-radius: 5px;
  background-color: #13aee5;
  margin-top: 20px;
  margin-bottom: 35px;
}
.company p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
}
.company p span.p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.company p .aline {
  font-size: 13px;
}
.company ul li {
  color: #13aee5;
}
.company ul li span.li {
  color: #353535;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}
.clients-slider-box {
  margin-bottom: 78px;
}
.clients-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 140px;
  border: 1px solid #f6f6f6;
  list-style: none;
}
.slick-prev:before,
.slick-next:before {
  color: #f6f6f6;
  opacity: 1;
}
/* Contacts section */
#contacts {
  background-color: #f6f6f6;
}
.contacts {
  margin-top: 50px;
  margin-bottom: 115px;
}
.contacts-info h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
}
.contacts-info .line {
  width: 182px;
  height: 3px;
  border-radius: 5px;
  background-color: #13aee5;
  margin-top: 17px;
  margin-bottom: 31px;
}
.contacts-info-item i {
  color: #13aee5;
  vertical-align: top;
}
.contacts-info-item p {
  display: inline-block;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 21px;
}
.contacts-form {
  margin-top: 90px;
}
.contacts-form button {
  width: 158px;
  margin-top: 7px;
  padding: 19px 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
  background-color: #13aee5;
  border: none;
  border-radius: 5px;
}
input {
  width: 271px;
  height: 47px;
  margin-bottom: 5px;
  outline: none;
  padding-left: 10px;
}
input.message {
  height: 150px;
}
#footer {
  background-color: #108ab6;
}
.footer-box {
  padding-top: 40px;
  margin-bottom: 50px;
}
.footer-box img {
  vertical-align: top;
  padding-top: 18px;
}
.footer-box p {
  padding-top: 18px;
  display: inline-block;
  color: #ffffff;
  font-size: 13px;
}
.footer-box p span {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
}
.footer-box p.logo {
  padding-left: 8px;
}
.footer-box p.i {
  padding-left: 15px;
  padding-top: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
}
.footer-box i {
  color: #ffffff;
  line-height: 1.2;
}
.footer-box h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.footer-box a {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  line-height: 2;
}
.footer-item h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
.footer-item i {
  color: #ffffff;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-head-logo img {
    padding-bottom: 21px;
  }
  .main-head-logo p {
    display: inline-block;
    padding-top: 22px;
    padding-left: 9px;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #353535;
    font-size: 13px;
  }
  .main-head-logo p span {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #13aee5;
    font-size: 15px;
  }
  .main-head-info p {
    padding-top: 20px;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #353535;
    font-size: 13px;
  }
  .main-head-contacts p.tell {
    padding-top: 22px;
    line-height: 0.9;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
  }
  .main-head-contacts p.tell span {
    color: #13aee5;
  }
  .main-head-contacts p.tell span.address {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #353535;
  }
  .nav {
    position: relative;
    margin: 0 auto;
  }
  .nav-menu {
    margin-bottom: 0;
    padding-left: 0;
  }
  .nav-menu-item {
    list-style: none;
    float: left;
  }
  .nav-menu-item a {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    padding: 16px 50px;
    border-right: 1px dotted #1a96c2;
  }
  .nav-menu-item a:first-child {
    border-left: 1px dotted #1a96c2;
  }
  .nav-menu-item:hover {
    background-color: #119cce;
  }
  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* ШАПКА */
  .main-head-logo img {
    width: 43px;
    height: auto;
    padding-bottom: 18px;
  }
  .main-head-logo p {
    display: inline-block;
    padding-top: 21px;
    padding-left: 8px;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #353535;
    font-size: 13px;
  }
  .main-head-logo p span {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #13aee5;
    font-size: 14px;
  }
  .main-head-info {
    display: none;
  }
  .main-head-info p {
    padding-top: 22px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #353535;
    font-size: 13px;
  }
  .main-head-contacts {
    float: right;
  }
  .main-head-contacts p.tell {
    padding-top: 20px;
    line-height: 1.1;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
  }
  .main-head-contacts p.tell span {
    color: #13aee5;
  }
  .main-head-contacts p.tell span.address {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #353535;
  }
  /* НАВИГАЦИЯ */
  .nav {
    position: relative;
    margin: 0 auto;
  }
  .nav-menu {
    margin-bottom: 0;
    padding-left: 0;
  }
  .nav-menu-item {
    list-style: none;
    float: left;
  }
  .nav-menu-item a {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    padding: 14px 31px;
    border-right: 1px dotted #1a96c2;
  }
  .nav-menu-item a:first-child {
    border-left: 1px dotted #1a96c2;
  }
  .nav-menu-item:hover {
    background-color: #119cce;
  }
  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }
  /* О КОМПАНИИ */
  .company {
    margin-bottom: 35px;
  }
  .company p.aline {
    font-size: 13px;
  }
  .company p.aline span {
    font-size: 13px;
  }
  .company h3 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    padding-top: 22px;
  }
  .company .line {
    width: 150px;
    height: 2px;
    border-radius: 5px;
    background-color: #13aee5;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .company p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 0;
  }
  .company p span.p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 2.5;
  }
  .company ul li {
    color: #13aee5;
  }
  .company ul li span.li {
    color: #353535;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
  }
  .company_img_box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
  }
  .company_img_box img {
    width: 340px;
    height: auto;
  }
  /* КОнТАКТЫ */
  .contacts {
    margin-top: 30px;
    margin-bottom: 65px;
  }
  .contacts-info h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
  }
  .contacts-info .line {
    width: 100px;
    height: 2px;
    border-radius: 5px;
    background-color: #13aee5;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .contacts-info-item i {
    color: #13aee5;
    vertical-align: top;
  }
  .contacts-info-item p {
    display: inline-block;
    padding-left: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 21px;
  }
  .contacts-form {
    margin-top: 60px;
  }
  .contacts-form button {
    width: 158px;
    margin-top: 7px;
    padding: 14px 28px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #ffffff;
    background-color: #13aee5;
    border: none;
    border-radius: 5px;
  }
  input {
    width: 220px;
    height: 47px;
    margin-bottom: 2px;
    outline: none;
    padding-left: 20px;
  }
  input.message {
    height: 160px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .main-head-logo img {
    padding-bottom: 13px;
  }
  .main-head-logo p {
    display: inline-block;
    padding-top: 15px;
    padding-left: 10px;
    line-height: 1.2;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #353535;
    font-size: 14px;
  }
  .main-head-logo p span {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #13aee5;
    font-size: 16px;
  }
  .main-head-info {
    display: none;
  }
  .main-head-contacts {
    display: none;
  }
  .col-xs-12 .navigator {
    padding: 0 auto;
  }
  .nav-menu {
    display: none;
    position: absolute;
    background: #13aee5;
    z-index: 99;
    padding-left: 0;
    margin-bottom: 0px;
  }
  .nav-menu li {
    display: inline-block;
    float: none;
  }
  .nav-menu li a {
    border-top: 1px solid #ffffff;
    width: 100vw;
  }
  .nav-menu li a:first-child {
    border: none;
  }
  .menuToggle {
    display: inline-block;
    position: relative;
    margin-bottom: 0px;
  }
  .menuToggle i.fa-bars {
    color: #ffffff;
    font-size: 30px;
    padding: 15px 0px;
  }
  #menuCheck:checked + ul.nav-menu {
    display: block;
  }
  p.aline {
    display: none;
  }
}
@media all and (max-width: 479px) {
  .main-head-logo img {
    width: 40px;
    height: auto;
    padding-bottom: 15px;
  }
  .main-head-logo p {
    display: inline-block;
    padding-bottom: 5px;
    padding-left: 5px;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #353535;
    font-size: 12px;
  }
  .main-head-logo p span {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #13aee5;
    font-size: 13px;
  }
  .main-head-info {
    display: none;
  }
  .main-head-contacts {
    display: none;
  }
  .col-xs-12 .navigator {
    padding: 0 auto;
  }
  .nav-menu {
    display: none;
    position: absolute;
    left: -15px;
    right: -15px;
    background: #13aee5;
    z-index: 99;
    padding-left: 0;
    margin-bottom: 0px;
  }
  .nav-menu li {
    display: inline-block;
    float: none;
    border-top: 1px solid #119cce;
  }
  .nav-menu li a {
    padding-left: 15px;
    padding-right: 51px;
    width: 100vw;
  }
  .nav-menu li a:first-child {
    border: none;
  }
  .menuToggle {
    display: inline-block;
    position: relative;
    margin-bottom: 0px;
    cursor: pointer;
  }
  .menuToggle i.fa-bars {
    color: #ffffff;
    font-size: 30px;
    padding: 15px 0px;
  }
  #menuCheck:checked + ul.nav-menu {
    display: block;
  }
  /* Main screen */
  #main-screen {
    background-image: url(../img/bg-1.jpg);
    background-position: right top;
    background-position: no-repeat;
  }
  .main-screen-slider-box {
    margin-top: 40px;
    z-index: 9;
    padding-right: 0px;
    padding-left: 0px;
  }
  .main-screen-slider-box h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
  }
  .main-screen-slider-box-item-line {
    width: 130px;
    height: 2px;
    background-color: #13aee5;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .main-screen-slider-box p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 25px;
    text-align: center;
  }
  .main-screen-slider-box p br {
    content: "";
  }
  .main-screen-slider-box p br:after {
    content: "\00a0";
  }
  .main-screen-slider-box button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #ffffff;
    background-color: #13aee5;
    border: none;
    border-radius: 5px;
    padding: 10px 35px;
    margin-bottom: 60px;
    text-transform: uppercase;
  }
  .slick-dots {
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .slick-dots li {
    content: '';
    padding: 0px 10px;
  }
  .slick-dots li button {
    background-color: #ffffff;
    width: 15px;
    height: 1px;
  }
  .slick-dots li button:before {
    content: '';
  }
  .slick-dots li button:active,
  .slick-dots li button:focus {
    background-color: #13aee5;
  }
  /* О КОМПАНИИ */
  .company {
    margin-bottom: 35px;
  }
  .company p.aline {
    font-size: 13px;
  }
  .company p.aline span {
    font-size: 13px;
  }
  .company h3 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    padding-top: 22px;
  }
  .company .line {
    width: 150px;
    height: 2px;
    border-radius: 5px;
    background-color: #13aee5;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .company p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 0;
  }
  .company p span.p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 2.5;
  }
  .company ul li {
    color: #13aee5;
  }
  .company ul li span.li {
    color: #353535;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
  }
  .company_img_box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
  }
  .company_img_box img {
    width: 340px;
    height: auto;
  }
  /* КОнТАКТЫ */
  .contacts {
    margin-top: 30px;
    margin-bottom: 65px;
  }
  .contacts-info h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
  }
  .contacts-info .line {
    width: 100px;
    height: 2px;
    border-radius: 5px;
    background-color: #13aee5;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .contacts-info-item i {
    color: #13aee5;
    vertical-align: top;
  }
  .contacts-info-item p {
    display: inline-block;
    padding-left: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 21px;
  }
  .contacts-form {
    margin-top: 60px;
  }
  .contacts-form button {
    width: 158px;
    margin-top: 7px;
    padding: 14px 28px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #ffffff;
    background-color: #13aee5;
    border: none;
    border-radius: 5px;
  }
  input {
    width: 220px;
    height: 47px;
    margin-bottom: 2px;
    outline: none;
    padding-left: 20px;
  }
  input.message {
    height: 160px;
  }
}
