
body {
margin: 0 auto;
}
/*--Fonts files--*/
.opn-reg {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.opn-lgt {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.opn-med {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.opn-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.opn-black {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}
/*--Base colors--*/
@blue: #13aee5;
@blue-hover: #119cce;
@white: #ffffff;
@grey: #f6f6f6;
@black: #353535;
@footer: #108ab6;
@hover: #89d6f2;

/* Main section */

#main {
	background-color: @grey;
}
.main-head {
	&-logo {
		img {
			padding-bottom: 21px;
		}
		p {
			display: inline-block;
			padding-top: 22px;
			padding-left: 16px;
			line-height: 1.2;
			span {
			.opn-black;
			color: @blue;
			font-size: 20px;
		}
			.opn-reg;
			color: @black;
			font-size: 16px;
		}
	}
	&-info {
		p {
			padding-top: 22px;
			line-height: 1.5;
			.opn-reg;
			color: @black;
			font-size: 16px;
		}
	}
	&-contacts {
		p.tell {
			padding-top: 22px;
			line-height: 0.9;
			.opn-bold;
			font-size: 24px;
			span {
				color: @blue;
			}
			span.address {
				.opn-reg;
				font-size: 15px;
				color: @black;
			}
		}
	}
}
#nav {
	background-color: @blue;
}
.nav-menu {
	&-item {
		position: relative;
		list-style: none;
		float: left;
		padding: 16px 0;
		text-align: center;
		a {
			display: block;
			.opn-bold;
			font-size: 14px;
			color: @white;
			text-decoration: none;
			padding: 0 60px;
			border-color: @black;
		}
		&:hover {
			background-color: @blue-hover;
		}
	}
} 

#main-screen {
	background-image: url(../img/bg-1.jpg);
	background-position: center top;
	background-position: no-repeat;
	background-size: cover;
}
.main-screen-slider-box {
	margin-top: 70px;
	z-index: 99;
	padding-right: 0px;
	padding-left: 0px;
	h1 {
		.opn-bold;
		font-size: 43px;
		color: @white;
		text-transform: uppercase;
	}
	&-item-line {
		width: 251px;
		height: 3px;
		background-color: @blue;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	p {
		.opn-lgt;
		font-size: 17px;
		color: @white;
		margin-bottom: 40px;
	}
	button {
		.opn-bold;
		font-size: 13px;
		color: @white;
		background-color: @blue;
		border: none;
		border-radius: 5px;
		padding: 18px 45px;
		margin-bottom: 116px;
		text-transform: uppercase;
	}
}
/* Products section */
#products {
	background-color: @grey;
	padding-top: 70px;
}
.col-md-6.products-row {
	background: @white;
	width: 556px;
	height: 310px;
	margin-bottom: 30px;
	position: relative;
	h3 {
		display: inline-block;
		.opn-med;
		font-size: 21px;
		padding-top: 110px;
		padding-left: 15px;
	}
	img {
		padding-left: 20px;
		padding-bottom: 50px;
	}
}
.col-md-3.products-row {
	background: @white;
	width: 264px;
	height: 310px;
	margin-left: 30px;
	margin-bottom: 30px;
	position: relative;
	img {
		padding-top: 34px;
		padding-left: 45px;
	}
	h3 {
		.opn-med;
		font-size: 21px;
		text-align: center;
		padding-top: 18px;
	}
}
.col-md-4.products-row {
	background: @white;
	width: 360px;
	height: 200px;
	margin-left: 31px;
	margin-bottom: 31px;
	padding-top: 50px;
	padding-left: 25px;
	position: relative;
	h3 {
		display: inline-block;
		padding-left: 25px;
		.opn-med;
		font-size: 21px;
		text-align: center;
	}
	img {
		margin: auto;
	}	
}
.products-row-signature {
	opacity: 0;
	position: absolute;
	background-color: rgba(19, 174, 229, 0.5);
	left: 0;
	top: 0;
	width: 100%;
	height:100%; 
	color: @white;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	a {
		text-decoration: none;
	}
	&-btn {
		.opn-bold;
		display: block;
		color: @white;
		font-size: 13;
		text-transform: uppercase;
		border: 2px solid @white;
		border-radius: 5px;
		padding: 20px 43px;
		background-color: transparent;
	}
	&:hover {
		opacity: 1;
		cursor: pointer;
	}
}
.col-md-4.products-row:first-child {
	margin-left: 0px;
}


/* Section about company */
#about_company {
	background-color: @white;
}
.company {
	margin-bottom: 50px;
	h3 {
		margin-top: 50px;
		.opn-reg;
		font-size: 30px;
	}
	.line {
		width: 182px;
		height: 3px;
		border-radius: 5px;
		background-color: @blue;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	p {
		.opn-lgt;
		font-size: 16px;
		text-align: justify;
		span.p {
			.opn-bold;
			font-size: 16px;
		}
	}
	img {
		margin: 25px 0px;
	}
	ul li {
		color: @blue;
		span.li {
			color: @black;
			.opn-lgt;
			font-size: 16px; 
			line-height: 1.5;
		}
	}
}
.clients-slider-box {
	margin-bottom: 78px;
}
.clients-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 210px;
	height: 140px;
	border: 1px solid @grey;
	list-style: none;
}
.slick-prev:before, .slick-next:before {
	color: @grey;
	opacity: 1;
}
/* Contacts section */
#contacts {
	background-color: @grey;
}
.contacts {
	margin-top: 50px;
	margin-bottom: 115px;
	&-info {
		h3 {
			.opn-reg;
			font-size: 30px;
		}
		.line {
			width: 182px;
			height: 3px;
			border-radius: 5px;
			background-color: @blue;
			margin-top: 17px;
			margin-bottom: 31px;
		}
		&-item {
			i {
				color: @blue;
				vertical-align: top;
			}
			p {
				display: inline-block;
				padding-left: 15px;
				.opn-reg;
				font-size: 14px;
				margin-bottom: 21px;
			}
		}
	}
}
.contacts-form {
	margin-top: 90px;
	button {
		width: 158px;
		margin-top: 7px;
		padding: 19px 42px;
		text-transform: uppercase;
		text-align: center;
		.opn-bold;
		font-size: 13px;
		color: @white;
		background-color: @blue;
		border: none;
		border-radius: 5px;
	}
}
input {
	width: 271px;
	height: 47px;
	margin-bottom: 5px;
	outline: none;
	padding-left: 10px;
}
input.message {
	height: 150px;
}
#footer {
	background-color: @footer;
}
.footer-box {
	padding-top: 40px;
	margin-bottom: 50px;
	img {
		vertical-align: top;
		padding-top: 18px;
	}
	p {
		padding-top: 18px;
		display: inline-block;
		color: @white;
		font-size: 13px;
		span {
			.opn-black;
			font-size: 20px;
		}
	}
	p.logo {
		padding-left: 8px;
	}
	p.i {
		padding-left: 15px;
		padding-top: 0px;
		.opn-lgt;
		font-size: 14px;
		color: @white;
	}
	i {
		color: @white;
		line-height: 1.2;
	}
	h3 {
		.opn-med;
		font-size: 16px;
		color: @white;
	}
	a {
		display: block;
		.opn-lgt;
		font-size: 14px;
		color: @white;
		line-height: 2;
	}
}
.footer-item {
	h3 {
		.opn-med;
		font-size: 16px;
		color: @white;
		text-align: center;
	}
	i {
		color: @white;
	}
}


@media (min-width: 481px) and (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 991px) {
	
}
@media (min-width: 992px) and (max-width: 1199px) {
	
}
@media (min-width: 1200px) and (max-width: 1600px) {
	
}
@media (min-width: 1601px) { }
	
