
body {
margin: 0 auto;
}
/*--Fonts files--*/
.opn-reg {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.opn-lgt {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.opn-med {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
.opn-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.opn-black {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}
/*--Base colors--*/
@blue: #13aee5;
@blue-hover: #119cce;
@white: #ffffff;
@grey: #f6f6f6;
@black: #353535;
@footer: #108ab6;

/* Main section */

#main {
	background-color: @grey;
}
.main-head {
	&-logo {
		img {
			padding-bottom: 21px;
		}
		p {
			display: inline-block;
			padding-top: 22px;
			padding-left: 16px;
			line-height: 1.2;
			span {
			.opn-black;
			color: @blue;
			font-size: 20px;
		}
			.opn-reg;
			color: @black;
			font-size: 16px;
		}
	}
	&-info {
		p {
			padding-top: 22px;
			line-height: 1.5;
			.opn-reg;
			color: @black;
			font-size: 16px;
		}
	}
	&-contacts {
		p.tell {
			padding-top: 22px;
			line-height: 0.9;
			.opn-bold;
			font-size: 24px;
			span {
				color: @blue;
			}
			span.address {
				.opn-reg;
				font-size: 15px;
				color: @black;
			}
		}
	}
}
#nav {
	background-color: @blue;
}
.nav-menu {
	&-item {
		position: relative;
		list-style: none;
		float: left;
		padding: 16px 0;
		text-align: center;
		a {
			display: block;
			.opn-bold;
			font-size: 14px;
			color: @white;
			text-decoration: none;
			padding: 0 60px;
			border-color: @black;
		}
		&:hover {
			background-color: @blue-hover;
		}
	}
} 

#main-screen {
	background-image: url(../img/bg-1.jpg);
	background-position: center top;
	background-position: no-repeat;
	background-size: cover;
}
.main-screen-slider-box {
	margin-top: 70px;
	z-index: 99;
	padding-right: 0px;
	padding-left: 0px;
	h1 {
		.opn-bold;
		font-size: 43px;
		color: @white;
	}
	&-item-line {
		width: 251px;
		height: 3px;
		background-color: @blue;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	p {
		.opn-lgt;
		font-size: 17px;
		color: @white;
		margin-bottom: 40px;
	}
	button {
		.opn-bold;
		font-size: 13px;
		color: @white;
		background-color: @blue;
		border: none;
		border-radius: 5px;
		padding: 18px 45px;
		margin-bottom: 116px;
	}
}
/* Products section */
#products {
	background-color: @grey;
	padding-top: 70px;
}
.col-md-6.products-row {
	background: @white;
	width: 556px;
	height: 310px;
	margin-bottom: 30px;
	h3 {
		display: inline-block;
		.opn-med;
		font-size: 21px;
		vertical-align: middle;
	}
	img {
		padding-top: 45px;
		padding-left: 20px;
	}
}
.col-md-3.products-row {
	background: @white;
	width: 264px;
	height: 310px;
	margin-left: 30px;
	margin-bottom: 30px;
	h3 {
		.opn-med;
		font-size: 21px;
		text-align: center;
	}
	img {
		display: block;
		margin: auto;
		padding-top: 34px;
	}
}
.col-md-4.products-row {
	background: @white;
	width: 360px;
	height: 200px;
	margin-left: 31px;
	margin-bottom: 31px;
	h3 {
		.opn-med;
		font-size: 21px;
		text-align: center;
	}
	img {
		display: block;
		margin: auto;
	}
}
.col-md-4.products-row:first-child {
	margin-left: 0px;
}


/* Section about company */
#about_company {
	background-color: @white;
}
.company {
	h3 {
		margin-top: 50px;
		.opn-reg;
		font-size: 30px;
	}
	.line {
		width: 182px;
		height: 3px;
		border-radius: 5px;
		background-color: @blue;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	p {
		.opn-lgt;
		font-size: 16px;
		text-align: justify;
	}
}
.clients-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 210px;
	height: 140px;
	border: 1px solid @grey;
	margin-bottom: 78px;
}

/* Contacts section */
#contacts {
	background-color: @grey;
}
.contacts {
	&-info {
		&-item {
			i {
				color: @blue;
			}
			p {
				display: inline-block;
				padding-left: 10px;
			}
		}
	}
}
#footer {
	background-color: @footer;
}
@media (min-width: 481px) and (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 991px) {
	
}
@media (min-width: 992px) and (max-width: 1199px) {
	
}
@media (min-width: 1200px) and (max-width: 1600px) {
	
}
@media (min-width: 1601px) {
	
