body {
  margin: 0 auto;
}
/*--Fonts files--*/
.opn-reg {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.opn-lgt {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.opn-med {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.opn-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.opn-black {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
/*--Base colors--*/
/* Main section */
#main {
  background-color: #f6f6f6;
}
.main-head-logo img {
  padding-bottom: 21px;
}
.main-head-logo p {
  display: inline-block;
  padding-top: 22px;
  padding-left: 16px;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #353535;
  font-size: 16px;
}
.main-head-logo p span {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #13aee5;
  font-size: 20px;
}
.main-head-info p {
  padding-top: 22px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #353535;
  font-size: 16px;
}
.main-head-contacts p.tell {
  padding-top: 22px;
  line-height: 0.9;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.main-head-contacts p.tell span {
  color: #13aee5;
}
.main-head-contacts p.tell span.address {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #353535;
}
#nav {
  background-color: #13aee5;
}
.nav {
  margin-bottom: 0px;
}
.nav-menu-item {
  position: relative;
  list-style: none;
  float: left;
  padding: 16px 0;
  text-align: center;
}
.nav-menu-item a {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  padding: 0 60px;
  border-right: 1px dotted #1a96c2;
}
.nav-menu-item a:first-child {
  border-left: 1px dotted #1a96c2;
}
.nav-menu-item:hover {
  background-color: #119cce;
}
#main-screen {
  background-image: url(../img/bg-1.jpg);
  background-position: center top;
  background-position: no-repeat;
  background-size: cover;
}
.main-screen-slider-box {
  margin-top: 70px;
  z-index: 99;
  padding-right: 0px;
  padding-left: 0px;
}
.main-screen-slider-box h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 43px;
  color: #ffffff;
  text-transform: uppercase;
}
.main-screen-slider-box-item-line {
  width: 251px;
  height: 3px;
  background-color: #13aee5;
  margin-top: 25px;
  margin-bottom: 25px;
}
.main-screen-slider-box p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #ffffff;
  margin-bottom: 40px;
}
.main-screen-slider-box button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
  background-color: #13aee5;
  border: none;
  border-radius: 5px;
  padding: 18px 45px;
  margin-bottom: 116px;
  text-transform: uppercase;
}
ul.slick-dots {
  margin-left: -56%;
}
.slick-dots li {
  padding: 0px 20px;
}
.slick-dots li button {
  background-color: #ffffff;
  width: 34px;
  height: 5px;
}
.slick-dots li button:active,
.slick-dots li button:focus {
  background-color: #13aee5;
}
/* Products section */
#products {
  background-color: #f6f6f6;
  padding-top: 70px;
}
.col-md-6.products-row {
  background: #ffffff;
  width: 556px;
  height: 310px;
  margin-bottom: 30px;
  position: relative;
}
.col-md-6.products-row h3 {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 21px;
  padding-top: 110px;
  padding-left: 15px;
}
.col-md-6.products-row img {
  padding-left: 20px;
  padding-bottom: 50px;
}
.col-md-3.products-row {
  background: #ffffff;
  width: 264px;
  height: 310px;
  margin-left: 30px;
  margin-bottom: 30px;
  position: relative;
}
.col-md-3.products-row img {
  padding-top: 34px;
  padding-left: 45px;
}
.col-md-3.products-row h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 21px;
  text-align: center;
  padding-top: 18px;
}
.col-md-4.products-row {
  background: #ffffff;
  width: 360px;
  height: 200px;
  margin-left: 31px;
  margin-bottom: 31px;
  padding-top: 50px;
  padding-left: 25px;
  position: relative;
}
.col-md-4.products-row h3 {
  display: inline-block;
  padding-left: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 21px;
  text-align: center;
}
.col-md-4.products-row img {
  margin: auto;
}
.products-row-signature {
  opacity: 0;
  position: absolute;
  background-color: rgba(19, 174, 229, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
.products-row-signature a {
  text-decoration: none;
}
.products-row-signature-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: block;
  color: #ffffff;
  font-size: 13;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 20px 43px;
  background-color: transparent;
}
.products-row-signature:hover {
  opacity: 1;
  cursor: pointer;
}
.col-md-4.products-row:first-child {
  margin-left: 0px;
}
/* Products section (Каталог продукции)*/
.products-box [type="checkbox"],
label.toggleMenu,
label.toggleSubmenu {
  display: none;
}
.products-box {
  margin: 0px;
  padding: 0px;
}
.products-box label.toggleMenu {
  display: block;
  background-color: #2e3743;
  padding: 15px 75px 15px 15px;
  border-radius: 4px;
  margin-bottom: 1px;
}
.products-box label.toggleMenu i.fa {
  color: #ffffff;
}
.products-box label.toggleMenu i.fa span {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding-left: 10px;
}
.products-box ul {
  padding-left: 0;
}
.products-box ul li {
  list-style: none;
  background-color: #13aee5;
  margin-bottom: 1px;
  padding: 15px 40px 15px 12px;
}
.products-box ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 15px;
}
.products-box ul li ul {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
}
.products-box ul li ul li {
  position: relative;
  top: 15px;
}
.products-box ul li ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  padding-bottom: 15px;
}
.products-box ul li input.toggleSubmenu:checked ~ ul {
  display: block;
  position: relative;
}
.products-box ul li label.toggleSubmenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
}
.products-box ul li input.toggleSubmenu:checked ~ ul li {
  background-color: #119cce;
}
.wrapper {
  display: block;
}
.wrapper h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 0;
}
.wrapper .line {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 135px;
  height: 3px;
  background: #13aee5;
}
.slider-nav .product-box {
  width: 80px;
  height: auto;
}
.slider-nav .product-box img {
  margin: 10px;
  vertical-align: middle;
  width: 50px;
  height: auto;
}
.slider-for .product-box img {
  margin: 25px;
  max-width: 100%;
  height: auto;
}
.slider-for .product-box p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.slider-for .product-box p i {
  padding-right: 10px;
}
/* Section about company */
#about_company {
  background-color: #ffffff;
}
.company {
  margin-bottom: 50px;
}
.company h3 {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
}
.company .line {
  width: 182px;
  height: 3px;
  border-radius: 5px;
  background-color: #13aee5;
  margin-top: 20px;
  margin-bottom: 20px;
}
.company p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
}
.company p span.p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.company img {
  margin: 25px 0px;
}
.company ul li {
  color: #13aee5;
}
.company ul li span.li {
  color: #353535;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}
.clients-slider-box {
  margin-bottom: 78px;
}
.clients-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 140px;
  border: 1px solid #f6f6f6;
  list-style: none;
}
.slick-prev:before,
.slick-next:before {
  color: #f6f6f6;
  opacity: 1;
}
/* Contacts section */
#contacts {
  background-color: #f6f6f6;
}
.contacts {
  margin-top: 50px;
  margin-bottom: 115px;
}
.contacts-info h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
}
.contacts-info .line {
  width: 182px;
  height: 3px;
  border-radius: 5px;
  background-color: #13aee5;
  margin-top: 17px;
  margin-bottom: 31px;
}
.contacts-info-item i {
  color: #13aee5;
  vertical-align: top;
}
.contacts-info-item p {
  display: inline-block;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 21px;
}
.contacts-form {
  margin-top: 90px;
}
.contacts-form button {
  width: 158px;
  margin-top: 7px;
  padding: 19px 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
  background-color: #13aee5;
  border: none;
  border-radius: 5px;
}
input {
  width: 271px;
  height: 47px;
  margin-bottom: 5px;
  outline: none;
  padding-left: 10px;
}
input.message {
  height: 150px;
}
#footer {
  background-color: #108ab6;
}
.footer-box {
  padding-top: 40px;
  margin-bottom: 50px;
}
.footer-box img {
  vertical-align: top;
  padding-top: 18px;
}
.footer-box p {
  padding-top: 18px;
  display: inline-block;
  color: #ffffff;
  font-size: 13px;
}
.footer-box p span {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
}
.footer-box p.logo {
  padding-left: 8px;
}
.footer-box p.i {
  padding-left: 15px;
  padding-top: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
}
.footer-box i {
  color: #ffffff;
  line-height: 1.2;
}
.footer-box h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.footer-box a {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  line-height: 2;
}
.footer-item h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
.footer-item i {
  color: #ffffff;
}
